# Task 1: Source the Data Set

Tasks based on instructions given in document https://github.com/ianmcloughlin/principles_of_data_analytics/blob/main/assessment/tasks.md

<font color='sky blue'>"Import the Iris data set from the **sklearn.datasets** module.<br/>
Explain, in your own words, what the **load_iris()** function returns."</font>

Wiki Page on Iris Dataset : https://en.wikipedia.org/wiki/Iris_flower_data_set

The iris data set is widely used as **a beginner's dataset for machine learning purposes**. The dataset is included in R base and Python in the machine learning library scikit-learn, so that users can access it without having to find a source for it.

Several versions of the dataset have been published

***

## <font color="sky blue"> Initially Look at importing a CVS File</font>

***

Comma Separated Values (CSV) File (with Headers) : https://gist.github.com/curran/a08a1080b88344b0c8a7#file-iris-csv

Python Imports :

In [6]:
#import required modules 

#pandas with DataFrame Object
import pandas as pd
#sklearn with sample datasets
import sklearn as ak

Documentation on **read_csv()** method https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

URL Location of CSV File : https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv

In [7]:
#utilise the pandas read_csv() method to read CVS data from internet
df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

#output dataset
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Documentation on pandas.DataFrame.describe()  : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe

In [8]:
#Call pandas.DataFrame.describe() to get a collection of statistical data
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

***

## <font color = "sky blue">Import Dataset with **sklearn** module</font>

***